Repository rust-lang/team, pull requests merged in 2025-09, with the labels that each got.

#1981 adjust goal owners list based on 2025h2 RFC
  people/aapoalas.toml
  people/frank-king.toml
  people/icmccorm.toml
  people/jakos-sec.toml
  people/ranger-ross.toml
  teams/goal-owners.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1980 Add Hayden602 to wg-triage.toml
  people/Hayden602.toml
  teams/wg-triage.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1984 move Nemo157 to rustdoc alumni
  teams/rustdoc.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1989 Added zulip-id and email for ranger-ross
  people/ranger-ross.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1988 Make the output of the static API deterministic
  Cargo.lock
  Cargo.toml
  src/static_api.rs
  tests/snapshot.rs
Labels: T-infra

#1983 Re-add Amanjeev Sethi to dev guide team
  people/amanjeev.toml
  teams/wg-rustc-dev-guide.toml
Labels: needs-team-repo-admin-review, needs-team-lead-review, S-waiting-on-team

#1997 Rename community survey team to survey team
  repos/rust-lang/surveys-private.toml
  repos/rust-lang/surveys.toml
  teams/community.toml
  teams/survey.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1999 Add a few website descriptions to archived teams
  teams/archive/community-ctcft.toml
  teams/archive/core.toml
  teams/archive/ecosystem.toml
  teams/archive/interim-leadership-chat.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#2000 rustc-dev-guide: make Noratrieb member
  teams/rustc-dev-guide.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#2001 rustc-dev-guide team: add Kobzol
  teams/rustc-dev-guide.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1998 Change branch protection of rustc-dev-guide to `main`
  repos/rust-lang/rustc-dev-guide.toml
Labels: needs-infra-admin-review, T-infra
