Repository rust-lang/team, pull requests merged in 2025-08, with the labels that each got.

#1933 Add xizheyin to wg-triage
  people/xizheyin.toml
  teams/wg-triage.toml
Labels: needs-team-repo-admins-review, S-waiting-on-review

#1922 remove discord-mods-bot repository
  repos/rust-lang/discord-mods-bot.toml
Labels: needs-team-repo-admins-review, S-waiting-on-review

#1938 Recognize TWIR reviewers alumni
  people/bennyvasquez.toml
  teams/twir-reviewers.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1936 Backlink to more team repo docs
  README.md
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1941 remove tshepang from wg-bindgen
  teams/wg-bindgen.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1939 Grant admin access to rust-heroku-deploy-access
  sync-team/src/github/mod.rs
Labels: needs-infra-admin-review, S-waiting-on-review, T-infra

#1782 Add @robamu to embedded arm team
  teams/wg-embedded.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1945 remove davidtwco from some groups
  teams/project-const-generics.toml
  teams/wg-mir-opt.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1947 Add the8472 to libs-api
  teams/libs-api.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1948 Grant rustfmt team write access to `rust-lang/rust`
  repos/rust-lang/rust.toml
Labels: needs-infra-admin-review, needs-team-repo-admin-review, S-waiting-on-review

#1960 Add `Osintedx` and `theemathas` to WG-triage
  people/Osintedx.toml
  people/theemathas.toml
  teams/wg-triage.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review

#1962 give crates-io admins write access to the creates-io-auth-action
  repos/rust-lang/crates-io-auth-action.toml
Labels: needs-team-repo-admin-review, S-waiting-on-review, T-infra

#1966 adds opeolluwa to the twir-reviewers team
  people/opeolluwa.toml
  teams/twir-reviewers.toml
Labels: needs-team-repo-admin-review, S-waiting-on-author
